:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--button-color: #0475d8;
	--font-color: #38434f;
	--bg-color: #d3d8da;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color)
}
